.progress-bar {
  width: 80%;
  height: 10px;
  background: #50466b;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px auto auto;
}

.progress-fill {
  height: 100%;
  background: #c38d34;
  transition: 0.3s ease;
}
